@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  /* Prevent double-tap zoom on mobile */
  .touch-manipulation {
    touch-action: manipulation;
  }
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  @apply touch-manipulation;
}
